* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body>header {
    background-color: #2f3640;
    padding: 16px 0;
    color: #f5f9fa;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a {
    color: #f5f6fa;
    text-decoration: none;
}

.container {
    width: 1800px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /*height: 200px;*/
    width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2 {
    margin-bottom: 16px;
    font-size: 32px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: blue;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

#sports {
    background-color: rgba(0, 255, 0, 0.1);
}

#sports h2,
#sports h3 {
    color: rgb(3, 155, 28)
}

#sports .articles article a {
    background-color: #009432;
    color: #000
}

#economy {
    background-color: #f8f59f;
}

#economy .articles article a {
    background-color: #ff9f1a;
}

#economy h2,
#economy h3 {
    color: rgb(255, 136, 0)
}

#clima {
    background-color: rgba(63, 235, 235, 0.418);
}

#clima .articles article a {
    background-color: rgb(8, 69, 148);
}

#clima h2,
#clima h3 {
    color: rgb(17, 75, 192);
}

#viagens {
    background-color: rgba(114, 114, 114, 0.418);
}

#viagens h2,
#viagens h3 {
    color: rgb(86, 2, 2);
}

#viagens .articles article a {
    background-color: #010101;
}

time {
    color: rgb(4, 4, 4)
}